<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Liquidador_Inducom2023.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Liquidador_Inducom2023.Properties.Settings>
            <setting name="PorcMoraSet" serializeAs="String">
                <value>43,27</value>
            </setting>
            <setting name="DosUVTSet" serializeAs="String">
                <value>84.824</value>
            </setting>
        </Liquidador_Inducom2023.Properties.Settings>
    </userSettings>
</configuration>